/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #222831;
    color: #ffd369;
    font-size: 1.3rem;
    /*width: calc(100vw - 34px); */
}

.gallery {
    padding: 20px;
    gap: 10px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
}

.gallery figure {
    border: 1px solid #eeeeee;
    position: relative;
    margin: 0 auto;
    counter-increment: posMarkup;
    display: flex;
}

.gallery figure.portrait {
    height: auto;
}

.gallery figure img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.gallery figure::after {
    position: absolute;
    bottom: 0;
    left: 0.2em;
    color: red;
    font-size: 2em;
}

.home {
    padding-top: 30px;
    text-align: center;
    display: block;
}

.home img {
    width: 7%;
}

.home img:hover {
    cursor: pointer;
    transition: 0.3s;
}

/* The expanding image container */
.container {
    padding-top: 30px;
    position: relative;
    display: none;
    margin: auto;
    text-align: center;
    height: 100%;
}

.imageContainer {
    position: relative;
    margin: 0 auto;
}

.imageContainer img {
    object-fit: cover;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #222831;
    color: #eeeeee;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 780px) {
    body {
        width: 100%;
    }

    .home {
        padding-top: 20px;
    }

    .home img {
        width: 15%;
    }

    .imageContainer {
        width: 90%;
    }
}