/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #222831;
    color: darkgray;

}

h1, .white {
    color: #ffd369;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

h2, .white {
    color: #ffd369;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

a {
    color: #eeeeee;
    text-decoration: none;
    padding: 2px;
    font-size: 1.2rem;
}

skill {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 15px;
}

i {
    font-size: 1.4rem;
}

p {
    padding: 5px 5px 5px 0;
    font-size: 1.2rem;
}

/* section left */
.section-left {
    padding-top: 25vh;
    text-align: center;
}

.section-left i {
    font-size: 1.6rem;
    padding: 15px;
}


/* section right */
.section-right {
    padding-top: 10vh;
    width: 70%;
}

.section-right i {
    padding: 5px 5px 5px 0;
}


/* section extra */
.section-extra {
    margin: 5px 5px 5px -15px;
    width: 70%;
}

.section-extra i {
    color: #eeeeee;
    padding: 15px;
}


/* section list */
.section-list {
    margin: 5px 5px 5px -15px;
}

.section-list skill {
}

.section-list i {
    padding: 15px;
}

/* animations / utilities */
.section-extra i:hover {
    color: lightblue;
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.3s;
}

.section-left i:hover {
    color: lightblue;
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.3s;
}

a:hover {
    color: lightblue;
    cursor: pointer;
    transition: 0.3s;
}

/*
i:hover {
    transform: scale(1.5);
    transition: 0.3s;
}
*/

.white:hover {
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media (max-width: 780px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }

    body {
        text-align: center;
    }

    .section-left {
        padding: 5rem 0 0;
    }

    .section-right {
        padding: 2rem 0 0 1.5rem;
        width: 80%;
    }

    .section-list {
        margin: 0;
    }

    .section-extra {
        padding: 0 0 0 1.5rem;
        margin: 0;
        width: 80%;
    }
}