/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #222831;
    color: darkgray;

}

h1, .white {
    color: #ffd369;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

h2, .white {
    color: #ffd369;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

a {
    color: #eeeeee;
    text-decoration: none;
    padding: 2px;
    font-size: 1.2rem;
}

skill {
    text-decoration: none;
}

/* section left */
.section-left {
    padding-top: 25vh;
    text-align: center;
}

.section-left p {
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-left a {
    font-size: 1.6rem;
    padding: 12px;
}

/* section right */
.section-right {
    padding-top: 10vh;
    width: 70%;
}

.section-right p {
    padding: 5px 5px 5px 0;
    font-size: 1.2rem;
    margin: 0;
}

.section-right i {
    padding: 5px 5px 5px 0;
    font-size: 1.4rem;
}

.section-right skill {
    cursor: default;
    padding: 5px 5px 5px 0;
    font-size: 1.2rem;
}

/* section extra */
.section-extra i {
    color: #eeeeee;
    padding: 5px 5px 5px 0;
    font-size: 1.4rem;
}


/* animations / utilities */
.section-right a:hover {
    color: lightblue;
    cursor: pointer;
    transition: 0.2s;
}

.section-extra i:hover {
    color: lightblue;
    cursor: pointer;
    transition: 0.2s;
}

.section-left a:hover {
    color: lightblue;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media (max-width: 780px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .section-left {
        padding: 0;
        padding-top: 5rem;
    }

    .section-right {
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }

    .section-extra {
        padding: 0;
        padding-left: 1.5rem;
    }
}